# Node modules
node_modules/

# Environment variables
.env

uploads/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/

# IDE files
.vscode/
.idea/

# OS temp files
*.log
